{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon"
        href="https://cdn.discordapp.com/icons/715958380556058684/773d6583cd1d7aef41e701783d353aef.webp?size=128"
        type="image/x-icon">
    <meta name="description" itemprop="description"
        content="Play your playlists and favourites tracks, albums, and artists" />
    <meta name="keywords"
        content="convert, convert playlists, transfer, syncing, smart links, free, apple music, streaming services" />
    <link rel="stylesheet" href="{% static 'formStyle.css' %}">
    <title>Youttify</title>

    <!-- Bootstrap CSS and JS files -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</head>
<script>
    function checkPassword(form) {
        const confirm_password = document.getElementById("cpwd");
        var password = document.getElementById("pwd").value;
        console.log(password)
        if (password != confirm_password.value) {
            confirm_password.setCustomValidity("Password did not match");
        } else {
            confirm_password.setCustomValidity("");
        }
    }
</script>

<body>
    <!-- Bootstrap Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'default' %}">Youttify</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'default' %}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Login</a>
                </li>
            </ul>
        </div>
    </nav>


    <div class="signup_body">
        <form class="login_form" method='POST' enctype="multipart/form-data">
            {% csrf_token %}

            <span class='label signup-title center-align'>Sign up for free to start listening.</span>

            {{ form.username.label_tag }}
            {{ form.username }}
            {% if form.errors.username %}
            <span style="color:#f79862;">{{ form.errors.username.0 }}</span>
            {% endif %}

            {{ form.email.label_tag }}
            {{ form.email }}
            {% if form.errors.email %}
            <span style="color:#f79862;">{{ form.errors.email.0 }}</span>
            {% endif %}

            {{ form.password.label_tag }}
            {{ form.password }}
            {% if form.errors.password %}
            <span style="color:#f79862;">{{ form.errors.password.0 }}</span>
            {% endif %}

            {{ form.password_confirm.label_tag }}
            {{ form.password_confirm }}
            {% if form.errors.password_confirm %}
            <span style="color:#f79862;">{{ form.errors.password_confirm.0 }}</span>
            {% endif %}

            <button class='btn btn_log_in' type="submit">Sign up</button>
            <div class="divider"></div>
            <p class='label center-align'>Already have an account? <a href="{% url 'login' %}">Log in</a>.</p>
        </form>
    </div>

</body>

</html>