{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon"
        href="https://cdn.discordapp.com/icons/715958380556058684/773d6583cd1d7aef41e701783d353aef.webp?size=128"
        type="image/x-icon">
    <meta name="description" itemprop="description"
        content="Play your playlists and favourites tracks, albums, and artists " />
    <meta name="keywords"
        content="convert, convert playlists, transfer, syncing, smart links, free, apple music, streaming services" />
    {% block css %}
    <link rel="stylesheet" href="{% static 'formStyle.css' %}">
    {% endblock %}
    <title>Youttify</title>


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'default' %}">Youttify</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'default' %}">Home</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Login <span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'register' %}">Register</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container mt-4">
        <h1 class="text-center">Register</h1>

        <div class="row justify-content-center">
            <div class="col-md-6">
                <form class="login_form" method='POST' enctype="multipart/form-data">
                    <span class='label signup-title center-align'>Sign up for free to start listening.</span>
                    {% csrf_token %}

                    {{ form.as_p }}

                    <button type="submit" class="btn btn-primary">Register</button>

                    <p class='label center-align'>Already have an account? <a href="{% url 'login' %}">Login</a></p>

                </form>
            </div>
        </div>

    </div>
</body>

</html>